<html>
    <head>
    </head>
    <body ng-app="xctl">
        <style>
            .ace_editor  {
                height : 300px;
            }

        </style>
        <div ng-controller="AceCtrl">
            <div ui-ace="aceOption" ng-model="aceModel"></div>

            <pre  style="height:500px;width:45%;float:left;">
                {{aceModel}}
            </pre>
        </div>
        <button ng-click="get_code()">Run</button>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.min.js"></script>
        <script src="https://rawgithub.com/ajaxorg/ace-builds/v1.1.1/src-min-noconflict/ace.js"></script>
        <script src="https://rawgithub.com/angular-ui/ui-ace/bower/ui-ace.min.js"></script>
        <script>

            var app = angular.module('xctl', ['ui.ace']);
            function AceCtrl($scope) {
                $scope.modes = ['Scheme', 'XML', 'Javascript'];
                $scope.mode = $scope.modes[2];
                // The ui-ace option
                $scope.aceOption = {
                    mode: $scope.mode.toLowerCase(),
                    onLoad: function(_ace) {
                        // HACK to have the ace instance in the scope...
                        $scope.modeChanged = function() {
                            _ace.getSession().setMode("ace/mode/" + $scope.mode.toLowerCase());
                        };

                    }
                };

                // Initial code content...
                $scope.aceModel = 'javascript';

            }
        </script>
    </body>
</html>
